DESCRIPTION = CoojaTrace
org.contikios.cooja.Cooja.PLUGINS = + de.fau.cooja.plugins.coojatrace.CoojaTracePlugin
org.contikios.cooja.Cooja.JARFILES = + target/lib/scala-library-2.10.3.jar target/lib/scala-compiler-2.10.3.jar target/lib/reactive-core_2.10-0.3.0.jar  target/lib/scala-actors-2.10.0.jar  target/lib/scala-reflect-2.10.3.jar target/CoojaTracePlugin-1.0.0.jar

